.numbersort{
  display: flex;
  flex-direction: column;
  width:100%;
  max-width:400px;
}

.numbersort button{
  padding: 10px 15px;
  width: 200px;
  border-radius: 5px;
  cursor: pointer;
}

.numbersort>input{
  width: 100%;
  max-width: 40px;
}

.numbersort p{
  display: flex;
  flex-direction: column;
  color:rgba(0, 0, 255, 0.568);
  font-weight: bold;
}

.numbersort>p>span{
  color:blue;
}